<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta name="author" content="zooduck">
        <title>TITLE</title>
    </head>
    <body>

        <!-- templates -->
        <!-- // -->


        <!-- loading screen -->
        <!-- // -->
       
        
        <!-- alert -->
        <!-- // -->

        <!-- super container -->
        <div class="super-container">
            <header>
                <div>HEADER...</div>
            </header>

            <content>
                <div>CONTENT...</div>
                <div>IMG TEST:</div>
                <img src=".././img/example.jpg" alt="example.jpg" />
                <div>HREF IMAGE TEST:</div>
                <div>
                    <a href=".././img/example.jpg" target="_blank">example.jpg</a>
                </div>
            </content>   
            
        </div> <!-- .super-container -->


    </body>
</html>
