$background-color-base: #fff;
$font-family-base: calibri, sans-serif;
$font-size-base: 16px;
$font-weight-base: normal;
$color-base: #111;

$icon-base: #555;

$monitor-black: #222;
$monitor-green: #40e240;
$monitor-font-family: monospace, sans-serif;

$error-background-color: tomato;
$success-background-color: cornflowerblue;